<h1>Edit Form </h1>

<%= form_for @article do |article| %>
  <%= article.label 'Article Title' %><br>
  <%= article.Description 'Article Description' %><br>

  <%= article.Description 'Article Description' %><br>
  <%= article.Description 'Article Description' %><br>

  <%= article.submit "Submit Article" %>
<% end %>